*{
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100%;
  background-color: #F2EEAE;
  font-family: "Protest Guerrilla", sans-serif;

}

.title{
  margin-top: 15vh;
  text-align: center;
  font-size: 5em;
  color: #F24738;
}

.App{
  display: flex;
  justify-content: center;
}

.drumPads{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:20px;
  
}

.drum-pad{
  border:1px solid white;
  padding:50px;
  border-radius: 10px;
  background-color:#F24738 ;
  color: white;
  font-size: 2em;
}

#display{
 margin-top: 5vh;
 text-align: center;
 font-size: 2em;
 color: #D98841;
}